@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<hr />

<h4>Projeto gerenciamento de consultas odontológicas.</h4>
<br>
<p>Projeto feito com o intuito de ajudar o gerenciamento de consultas. É possível verificar, adicionar, reagendar e cancelar consultas.</p>
<p>Também é possível adicionar, editar, verificar e remover odontologistas.</p>
<p>O sistema não permite adicionar uma consulta em uma data anterior à data que a consulta está sendo agendada.</p>
<p>Também não permite adicionar uma consulta em um horário já marcado.</p>
<br>
<p>Uma determinada consulta com cada horário que a consulta durará é adicionada ou removida do sistema em tempo constante.</p>