@{
    ViewData["Title"] = "Sobre";
}
<h3>@ViewData["Title"] o projeto</h3>
<hr />
<h3>Projeto gerenciamento de consultas odontológicas.</h3>
<p>Projeto feito com o intuito de ajudar o gerenciamento de consultas. É possível verificar, adicionar, reagendar e cancelar consultas.</p>
<p>Também é possível adicionar, editar, verificar e remover odontologistas.</p>
<p>O sistema não permite adicionar uma consulta em uma data anterior à data que a consulta está sendo agendada.</p>
<p>Também não permite adicionar uma consulta em um horário já marcado.</p>
<br>
<h3>Limitações</h3>
<p>O projeto permite adicionar uma consulta entre 09h00 e 18h00 com uma pausa para o almoço às 12h00 durante uma hora.</p>
<p>As consultas podem durar 15, 30, 45 ou 60 minutos.</p>
<p>A consulta pode ser marcada em qualquer dia da semana.</p>
<br>
<a asp-controller="Home" asp-action="Privacy">Política de Privacidade</a>