@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<br>
<address>
    <strong>Email:</strong> <a href="mailto:kevin.soares@hotmail.com">kevin.soares@hotmail.com</a><br />
    <strong>Repositório:</strong><a href="https://github.com/Kevin-S-Soares/Projeto_5S_T12">GitHub</a>
</address>
