@{
    ViewData["Title"] = "Política de privacidade";
}
<h2>@ViewData["Title"]</h2>

<p>Este site usa cookies usa cookies para facilitar algumas funções, como login automático e salvar configurações de filtros.</p>
