@model IEnumerable<IGrouping<Dentist, Appointment>>

@{
    ViewData["Title"] = "Busca Agrupada";
    DateTime minDate = DateTime.Parse(ViewData["minDate"] as string);
    DateTime maxDate = DateTime.Parse(ViewData["maxDate"] as string);
}
<environment include="Development">
    <script src="~/js/Chart.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/Chart.min.js" asp-append-version="true"></script>
</environment>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        toList();
    });
</script>
<h2>@ViewData["Title"]</h2>
<ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active" id="list" onclick="toList()"><a><strong>Lista</strong></a></li>
    <li role="presentation" id="chart" onclick="toChart()"><a><strong>Gráfico</strong></a></li>
</ul>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <div class="form-group">
                    <label for="minDate">Inicio</label>
                    <input type="date" class="form-control" name="minDate" value=@ViewData["minDate"]>
                </div>
                <div class="form-group">
                    <label for="maxDate">Fim</label>
                    <input type="date" class="form-control" name="maxDate" value=@ViewData["maxDate"]>
                </div>
            </div>
            <button type="submit" class="btn btn-info">Filtrar</button>
        </form>
    </div>
</nav>
<div id="listView">
    <partial name="GroupingSearchList" />
</div>
<div id="chartView">
    <partial name="GroupingSearchChart" />
</div>







