@model WebOdontologista.Models.ViewModels.AppointmentFormViewModel
@{
    ViewData["Title"] = "Nova Consulta";
}

<h2>@ViewData["Title"]</h2>
<h4 id="error"></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create">
            <fieldset>
                <label>
                    Dados pessoais do paciente <span class="glyphicon glyphicon-question-sign text-info" title="Aqui será inserido os dados pessoais do paciente sendo cadastrado em uma dada consulta.
Por exemplo: O paciente João e o telefone (11) 1234-5678."></span>
                </label>
                <div class="panel panel-info">
                    <div class="panel-body">
                        <div class="form-group">
                            <label asp-for="Appointment.Patient" class="control-label"> </label>
                            <input asp-for="Appointment.Patient" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Appointment.Patient" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Appointment.TelephoneNumber" class="control-label"> </label>
                            <input asp-for="Appointment.TelephoneNumber" class="form-control" autocomplete="off" onkeyup="mask(phone)" />
                            <span asp-validation-for="Appointment.TelephoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <label>Dados da consulta <span class="glyphicon glyphicon-question-sign text-info" title="Aqui será inserido os dados da consulta sendo cadastrada.
A partir do odontologista, a duração da consulta e o dia informado, o sistema buscará uma horário disponível no dia informado (se houver horário disponível)."></span>
                </label>
                <div class="panel panel-info" >
                    <div class="panel-body">
                        <div class="form-group">
                            <label asp-for="Appointment.DentistId" class="control-label"> </label>
                            <select asp-for="Appointment.DentistId" asp-items="@(new SelectList(Model.Dentists, "Id", "Name"))" class="form-control" onchange="getTimes()"> </select>
                            <span asp-validation-for="Appointment.DentistId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Appointment.AppointmentType" class="control-label"> </label>
                            <input asp-for="Appointment.AppointmentType" class="form-control" />
                            <span asp-validation-for="Appointment.AppointmentType" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Appointment.DurationInMinutes" class="control-label"> </label>
                            <select asp-for="Appointment.DurationInMinutes" class="form-control" onchange="getTimes()">
                                <option value="15">15</option>
                                <option value="30">30</option>
                                <option value="45">45</option>
                                <option value="60">60</option>
                            </select>
                            <span asp-validation-for="Appointment.DurationInMinutes" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Appointment.Date" class="control-label"> </label>
                            <input asp-for="Appointment.Date" class="form-control" onchange="getTimes()" />
                            <span asp-validation-for="Appointment.Date" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Appointment.Time" class="control-label"> </label>
                            <select asp-for="Appointment.Time" class="form-control" disabled></select>
                            <span asp-validation-for="Appointment.Time" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" id="Appointment_Confirm" value="Nova consulta" class="btn btn-primary" disabled />
                </div>

            </fieldset>

        </form>
    </div>
</div>
<environment include="Development">
    <script src="~/js/mask.js" asp-append-version="true"></script>
    <script src="~/js/getTimes.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/mask.min.js" asp-append-version="true"></script>
    <script src="~/js/getTimes.min.js" asp-append-version="true"></script>
</environment>
<script>
    var phone = document.getElementById("Appointment_TelephoneNumber");
</script>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

