@model WebOdontologista.Models.ViewModels.AppointmentFormViewModel
@{
    ViewData["Title"] = "Reagendar Consulta";
}

<h2>@ViewData["Title"]</h2>
<h4 id="error"></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Edit">
            <input type="hidden" asp-for="Appointment.Id" />
            <div class="form-group">
                <label asp-for="Appointment.Patient" class="control-label"> </label>
                <input asp-for="Appointment.Patient" class="form-control" autocomplete="off" />
                <span asp-validation-for="Appointment.Patient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.TelephoneNumber" class="control-label"> </label>
                <input asp-for="Appointment.TelephoneNumber" class="form-control" autocomplete="off" onkeyup="mask(phone)" />
                <span asp-validation-for="Appointment.TelephoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.DentistId" class="control-label"> </label>
                <select asp-for="Appointment.DentistId" asp-items="@(new SelectList(Model.Dentists, "Id", "Name"))" class="form-control" onchange="getTimes()"> </select>
                <span asp-validation-for="Appointment.DentistId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.AppointmentType" class="control-label"> </label>
                <input asp-for="Appointment.AppointmentType" class="form-control" />
                <span asp-validation-for="Appointment.AppointmentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.DurationInMinutes" class="control-label"> </label>
                <select asp-for="Appointment.DurationInMinutes" class="form-control" onchange="getTimes()">
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                    <option value="60">60</option>
                </select>
                <span asp-validation-for="Appointment.DurationInMinutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Date" class="control-label"> </label>
                <input asp-for="Appointment.Date" class="form-control" onchange="getTimes()" />
                <span asp-validation-for="Appointment.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Time" class="control-label"> </label>
                <select asp-for="Appointment.Time" asp-items="@(new SelectList(Model.AvailableTime))" class="form-control"></select>
                <span asp-validation-for="Appointment.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br>
                <input type="submit" id="Appointment_Confirm" value="Reagendar Consulta" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<environment include="Development">
    <script src="~/js/mask.js" asp-append-version="true"></script>
    <script src="~/js/getTimes.js" asp-append-version="true"></script>
    <script>
        var phone = document.getElementById("Appointment_TelephoneNumber");
    </script>
</environment>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

