@model WebOdontologista.Models.Dentist

@{
    ViewData["Title"] = "Cancelar Consulta";
}

<h2>@ViewData["Title"] </h2>
<br>
<h3>Tem certeza que deseja excluir o odontologista?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">Voltar aos Odontologistas</a>
    </form>
</div>